@font-face {
    font-family: 'PPFranktionMono';
    src: url('fonts/PPFraktionMono-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SnellBT';
    src: url('./fonts/SnellBT-Regular.otf') format('opentype');
}

html, body {
    overscroll-behavior: none;
    overflow: hidden;
    height: 100vh;
    margin: 0;
    padding: 0;
}


body {
    background-color: #0B1A0B;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%239C92AC' fill-opacity='0.05'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}


#title {
    z-index: 2;
    top: 20px;
    left: 36vw;
    position: fixed;
    font-size: 3.5rem;
    color:#BBFFB0;
    font-family: 'SnellBT', sans-serif;
}

#info-icon {
    cursor: pointer;
    fill: none;
    margin-bottom: 25px;
    margin-left: -13px;
    stroke: white;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    vertical-align: middle;
    width: 20px;
    height: 20px;
  }
  
  .info-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.85);
    overflow: auto;
    cursor: pointer;
}

.info-modal-content {
    width: 500px;  /* Fixed width for info modal */
    margin: 15% auto;
    cursor: default;
}

.info-modal-content h2 {
    color: white;
    margin-bottom: 1.5rem;
    font-size: 1.4rem;
    font-family: 'PPFranktionMono', monospace;
}

.info-modal-content p {
    color: white;
    line-height: 1.6;
    margin-bottom: 2rem;
    font-family: 'PPFranktionMono', monospace;
    font-size: 0.8rem;
}

.info-link, 
.info-link:visited, 
.info-link:active {
    text-decoration: underline;
    color: white;
    transition: opacity 0.3s;
}

.info-link:hover {
    opacity: 0.8;
    color: white; 
}

#subtitle {
    top: 100px;
    left: 36vw;
    position: fixed;
    color:white;
    font: 1rem 'PPFranktionMono', sans-serif;
}

.spec-sheet {
    position: fixed;
    left: 1.5vw;
    top: 3vh;
    width: 28vw;
    height: 94vh;
    background-color: #070807;
    border: 1px solid white;
    padding: 0;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 10;
    pointer-events: auto;
}

.spec-sheet-title {
    font-family: 'PPFranktionMono', monospace;
    color: white;
    font-size: 1.1rem;
    padding: 1rem;
    border-bottom: 1px solid white;
    margin-bottom: 2rem;
}

.pollinator-name,
.month-name {
    color: #BBFFB0;  /* Using the green from your title */
    font-weight: bold;
}


.main-content {
    margin-left: 33.33vw;
    width: calc(66.67vw);
    height: 100vh;
    position: relative;
}


#app4 {
    position: relative;
    width: 100%;
    height: auto;
}

/* Bar Tooltip */
.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    font: 0.8rem 'PPFranktionMono', sans-serif;
    color: white;
    background: #080808;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    z-index: 10;
}


/* Pollinator Buttons Container */
#pollinator-buttons {
    position: fixed;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    z-index: 102;
    background: transparent;
    padding: 10px;
}

/* Base button styles */
.pollinator-btn {
    padding: 8px 16px;
    border: 1px solid white;
    border-right: none;
    background: transparent;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'PPFranktionMono', monospace;
    font-size: 0.8rem;
    border-radius: 0;
    margin: 0;
    position: relative;
}

/* Last button styles */
.pollinator-btn:last-child {
    border-right: 1px solid white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* First button styles */
.pollinator-btn:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

/* Hover state */
.pollinator-btn:hover {
    background: #444;
}

/* Active state */
.pollinator-btn.active {
    background: white;
    color: black;
    border: 1px solid white;
    z-index: 1;
    margin-right: -1px;
}

/* Handle first and last button active states */
.pollinator-btn:first-child.active {
    margin-right: -1px;
}

.pollinator-btn:last-child.active {
    margin-right: 0;
    margin-left: -1px;
}

/* Handle middle buttons */
.pollinator-btn:not(:first-child):not(:last-child).active {
    margin-left: -1px;
    margin-right: -1px;
}

/* Remove double borders between buttons */
.pollinator-btn:not(:last-child) {
    margin-right: -1px;
}


/* Image Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 500;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    overflow: auto;
    cursor: pointer; /* Indicates clickable area */
}

.modal-content {
    display: flex;
    gap: 0.5rem;
    background-color: #070807;
    margin: 15% auto;
    padding: 1rem;
    border: 1px solid #666;
    border-radius: 10px;
    width: 40%;
    max-width: 1200px;
    cursor: default; /* Reset cursor for content area */
}

.modal-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-image img {
    max-width: 100%;
    height: auto;
}

.modal-details {
    flex: 1;
    color: white;
    font-family: 'PPFranktionMono', monospace;
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
}

.modal-title {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.modal-field {
    margin-bottom: 0.1rem;
}

.modal-link {
    display: inline-block;
    font-size: 0.7rem;
    margin-top: 3rem;
    padding: 0.4rem 1rem;
    background-color: transparent;
    color: white;
    text-decoration: none;
    border: 1px solid #666;
    border-radius: 50px;
    transition: background-color 0.3s;
}

.modal-link:hover {
    background-color: #444;
}

/* Month scale */
.month-scale-container {
    position: fixed;
    right: 0;
    top: 0;
    width: 20vw;
    height: 100vh;
    z-index: 100;
}

#content {
    position: fixed;
    top: 0;
    left: 33.33vw;
    width: calc(66.67vw - 20vw);
    height: 100vh;
    overflow-y: scroll;
    pointer-events: auto;
    background: transparent;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#content::-webkit-scrollbar {
    display: none;
}

.scroll-content {
    height: 1000vh;
}

/* Styled month scale */
#month-scale {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    height: 60%;
    width: 52px;
    background: #0B1A0B;
    font-size: 1rem;
    font-family: 'PPFranktionMono', monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 103;
}

#month-scale div {
    flex: 1;
    height: calc(100% / 12);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* Indicators and lines */
#current-month-indicator,
.month-line {
    position: fixed;
    right: 0;
    height: 2px;
    transition: top 0.3s ease, width 0.3s ease;
    transform-origin: right;
}

#current-month-indicator {
    position: fixed;
    right: 0;
    height: 2px;
    background-color: #BBFFB0;
    transition: top 0.3s ease, width 0.3s ease;
    transform-origin: right;
    z-index: 102;
}

.month-line {
    position: fixed;
    right: 0;
    height: 2px;
    background-color: #333;
    opacity: 0.5;
    z-index: 101;
    transition: top 0.3s ease, width 0.3s ease;
    transform-origin: right;
}

#orchid-count {
    position: absolute;
    left: -1rem;
    transform: translateX(-1rem);
    top: -0.5rem; /* Half the font size to center it vertically */
    color: white;
    font-size: 0.8rem;
    font-family: 'PPFranktionMono', monospace;
    text-align: right;
    z-index: 102;
    white-space: nowrap;
}

