@font-face {
    font-family: 'PPGoshaSans';
    src: url('./fonts/PPGoshaSans-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'PPNeueMontreal';
    src: url('./fonts/PPNeueMontreal-Regular.otf') format('opentype');
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #0B1A0B;
}

#title {
    position: fixed;
    top: 70px;
    left: 50px;
    font-size: 98px;
    color:#BBFFB0;
    font-family: 'PPGoshaSans', sans-serif;
}

#subtitle {
    position: fixed;
    top: 190px;
    left: 52px;
    font-size: 54px;
    color:#FFFFFF;
    font-family: 'PPGoshaSans', sans-serif;
}

#month-scale {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    height: 60%;
    width: 52px;
    background: #0B1A0B;
    /* border-left: 1px solid #ccc;*/
    font-size: 18px;
    font-family: 'PPGoshaSans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
}

#month-scale div {
    flex: 1; /* Make each month label take up equal space */
    height: calc(100% / 12);
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-bottom: 1px solid #ccc; /* for visual separation */
    color: #FFFFFF; /* Change text color here */

}

#content {
    height: 3600px; /* Adjust to simulate scrolling */
}

#current-month-indicator {
    position: fixed;
    right: 10px; /* Align with the month scale */
    width: 100px;
    height: 5px;
    background: #BBFFB0;
    /* z-index: 1001; */
    top: 50%;
    transform: translateY(-50%);
}

#bubble-chart-container {
    position: fixed;
    bottom: 0;
    width: 90%;
    height: 60vh;  /* Half of the view height to mimic the northern hemisphere */
    display: flex;
    justify-content: center;
}

#bubble-chart {
    width: 90%; /* Adjust to 90% of the container's width */
    height: 100%; /* Adjust to fill 100% of the container's height */
    clip-path: ellipse(50% 100% at 50% 100%); /* Clip to a semicircle */
    background-color: #182F18; /* Optional: background for the semicircle */
}

.tooltip {
    background-color: rgba(11, 26, 11, 0.8);
    padding: 10px;
    font-size: 18px;
    color:#FFFFFF;
    font-family: 'PPGoshaSans', sans-serif;
    border-radius: 5px;
    pointer-events: none;
    z-index: 10;
}

#filter-buttons { 
    position: fixed;
    top: 270px;
    left: 50px;
}

.filter-button {
    margin: 5px;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    font-family: 'PPGoshaSans', sans-serif;
    font-size: 18px;
}

.filter-button.active {
    background-color: #888;
    color: #fff;
}
