@font-face {
    font-family: 'PPGoshaSans';
    src: url('./fonts/PPGoshaSans-Regular.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'PPGoshaSans';
    src: url('./fonts/PPGoshaSans-Bold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'PPNeueMontreal';
    src: url('./fonts/PPNeueMontreal-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'SnellBT';
    src: url('./fonts/SnellBT-Regular.otf') format('opentype');
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #0B1A0B;
}

#title {
    position: fixed;
    top: 50px;
    left: 60px;
    font-size: 102px;
    color:#BBFFB0;
    font-family: 'SnellBT', sans-serif;
}


#name {
    position: fixed;
    bottom: 20px;
    right: 30px;
    font-size: 12px;
    color:#FFF;
    font-family: 'PPGoshaSans', sans-serif;
}

#subtitle {
    position: fixed;
    top: 160px;
    left: 390px;
    font-size: 28px;
    color:#FFF;
    font-family: 'PPGoshaSans', sans-serif;
}

.description {
    position: fixed;
    top: 200px;
    left: 60px;
    max-width: 530px; 
}

.description p {
    font-family: 'PPGoshaSans', sans-serif; 
    font-size: 14px; 
    color: #FFF;
}

#month-scale {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    height: 60%;
    width: 52px;
    background: #0B1A0B;
    /* border-left: 1px solid #ccc;*/
    font-size: 18px;
    font-family: 'PPGoshaSans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
}

#month-scale div {
    flex: 1; /* Make each month label take up equal space */
    height: calc(100% / 12);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF; /* Change text color here */

}

#content {
    height: 3600px; /* Adjust to simulate scrolling */
}

#current-month-indicator {
    position: fixed;
    right: 10px; /* Align with the month scale */
    height: 5px;
    background: #BBFFB0;
    top: 50%;
    transform: translateY(-50%);
}

#orchid-count {
    position: absolute;
    top: -7px;          
    left: -20px; 
    transform: translateX(-50%); /* Adjust to center based on width */
    color: white;         
    font-size: 16px;   
    font-family: 'PPGoshaSans', sans-serif;
    text-align: left;
}

#bubble-chart-container {
    position: fixed;
    bottom: 0;
    width: 90%;
    height: 70vh;  /* Half of the view height to mimic the northern hemisphere */
    display: flex;
    justify-content: center;
}

#bubble-chart {
    width: 90%; /* Adjust to 90% of the container's width */
    height: 100%; /* Adjust to fill 100% of the container's height */
    clip-path: ellipse(50% 100% at 50% 100%); /* Clip to a semicircle  */
    background-color: #182F18; /* Optional: background for the semicircle */
}

.tooltip {
    background-color: rgba(11, 26, 11, 0.8);
    padding: 10px;
    font-size: 18px;
    color:#FFFFFF;
    font-family: 'PPGoshaSans', sans-serif;
    border-radius: 5px;
    pointer-events: none;
    z-index: 10;
}

#filter-buttons { 
    position: fixed;
    top: 100px;
    right: 20px;
    display: flex;
    align-items: center;
}

.filter-button {
    appearance: none;
    margin: 5px;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    background-color: transparent;
    cursor: pointer;
    font-family: 'PPGoshaSans', sans-serif;
    font-size: 14px;
    color: #FFF;
    appearance: none;
    outline: none;
    border: 2px solid #FFF; 
}

.filter-button:hover {
    border: 2px solid #BBFFB0; 
    color: #BBFFB0;
}

.filter-button.active {
    background-color: #BBFFB0; /* Change background when active */
    color: #0B1A0B;           /* Change text color when active */
}


#life-form-label {
    margin-right: 15px;
    font-family: 'PPGoshaSans', sans-serif;
    font-size: 14px;
    color: #FFF;
    cursor: pointer;
  }
  
  #life-form-label:hover {
    text-decoration: underline; /* Highlight on hover */
  }
  
  /* Modal Styles */
  .modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.3); /* Black with transparency */
  }
  
  .modal-content {
    background-color: #FFF;
    border-radius: 5px;
    margin: 15% auto;
    padding: 20px;
    width: 40%; 
  }

.modal-content h2 {
    text-align: center;
    font-size: 21px; 
    font-weight: bold; 
    color: #0B1A0B; 
    margin-bottom: 15px;
    font-family: 'PPGoshaSans', sans-serif;
  }
  
  .modal-content p {
    font-size: 16px;
    line-height: 1.5; 
    color: #0B1A0B; 
    font-family: 'PPGoshaSans', sans-serif;
  }