@font-face {
    font-family: 'PPFranktionMono';
    src: url('fonts/PPFraktionMono-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SnellBT';
    src: url('./fonts/SnellBT-Regular.otf') format('opentype');
}

body {
    background-color: #050505; /* Base color */
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}


#toggle-buttons {
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 20;
  }
  
  #toggle-buttons button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
  }
  
  #toggle-buttons button.active {
    background-color: #007BFF; /* Active color */
    color: white;
  }


  #app4 {
    position: fixed;    /* Fix the chart on the screen */
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 5px;
    font: 0.8rem 'PPFranktionMono', sans-serif;
    color: white;
    background: black;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    z-index: 10;
}

.tooltip2 {
    position: absolute;
    text-align: center;
    padding: 5px;
    font: 0.8rem 'PPFranktionMono', sans-serif;
    color: white;
    background: blue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    z-index: 20;
}


.photo-strip {
    position: absolute; 
    top: 20px;
    width: 90px;       /* Set width of photo strips */
    background-color: #fff; 
    z-index: 15;
}

#photo-strip-1 {
    left: 5%;        /* 50px away from the left */
}

#photo-strip-2 {
    right: 5%;       /* 50px away from the right */
}

.photo-strip img {
    width: 90px;              /* Set image width */
    margin-bottom: 5px;      /* Space between images */
}
